<!-- app/views/services/_services_list.html.erb -->

<% services.each do |service| %>
  <div class="card mb-4" data-controller="edit-form">
    <div class="card-body">
      <%= form_with(model: service, local: true, data: { action: "submit->edit-form#save" }) do |f| %>
        <div class="justify-content-between align-items-center mb-3">
          <div class="form-group">
            <%= f.label :name, 'Nom' %>
            <%= f.text_field :name,
                            readonly: true,
                            class: "form-control",
                            data: { edit_form_target: "input" } %>
          </div>
          <div class="form-group">
            <%= f.label :duration_per_unit, 'Durée par unité (minutes)' %>
            <%= f.number_field :duration_per_unit,
                               readonly: true,
                               class: "form-control",
                               data: { edit_form_target: "input" } %>
          </div>
          <div class="form-group">
            <%= f.label :active, 'Actif' %>
            <%= f.check_box :active,
                            disabled: true,
                            data: { edit_form_target: "checkbox" } %>
          </div>
          <div class="form-group">
            <%= f.label :is_group, 'Groupe' %>
            <%= f.check_box :is_group,
                            disabled: true,
                            data: { edit_form_target: "checkbox" } %>
          </div>
          <div class="form-group">
            <%= f.label :therapist_ids, 'Thérapeutes associés' %>
            <%= f.collection_select :therapist_ids,
                                    Therapist.all,
                                    :id,
                                    :display_name,
                                    { include_hidden: false },
                                    { multiple: true, class: "form-select", data: { edit_form_target: "select" }, disabled: true } %>
          </div>
          <div>
            <%= button_tag 'Edit', type: 'button', class: "editButton btn btn-outline-primary", data: { action: "click->edit-form#edit" } %>
            <%= f.submit "Save", class: "saveButton btn btn-outline-success d-none", data: { action: "click->edit-form#save" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
