<div class="container">

  <h1 style="padding-top: 120px;">Patients</h1>

  <%= form_with(url: patients_path, method: :get, local: true) do |f| %>
    <%= f.text_field :search, placeholder: "Rechercher un patient..." %>
    <%= f.submit "Rechercher" %>
  <% end %>

  <% if @patients.any? %>
    <ul>
      <% @patients.each do |patient| %>
        <li>
          <%= link_to "#{patient.first_name} #{patient.last_name} (#{calculer_age(patient.date_of_birth)} ans)", patient_path(patient) %>
          <%= patient.ordonnances.count %> ordonnance(s) liée(s)
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No patients available.</p>
  <% end %>

</div>
