<!-- app/views/patients/show.html.erb -->

<div class="container">
  <h1 style="padding-top: 120px;"><%= @patient.display_name %> - <%= calculer_age(@patient.date_of_birth) %> ans </h1>

  <!-- Card for unattached individual and group events -->
  <div class="card mb-4">
    <div class="card-header">
      <h3>Événements non attachés à une ordonnance</h3>
    </div>
    <div class="card-body">


    <h5>Événements Individuels</h5>
    <ul>
      <% @patient.event_individuels.each do |event| %>
        <li>
          <%= event.start_date_time.strftime("%d %B %Y à %H:%M") %> -
          <span class="badge rounded-pill <%= status_class(event.status) %>">
            <%= status_update_form_for_event_individuel(event) %>
          </span>
          - <% if event.ordonnance %>
          <span class="badge rounded-pill badge-status-dropdown">
            <%= event.ordonnance.title %>
            <%= ordonnance_association_form_for_event_individuel(event, @patient.ordonnances) %>
          </span>
          <% else %>
            Pas d'ordonnance liée
          <% end %>
        </li>
      <% end %>
    </ul>



      <h5>Événements de Groupe</h5>
      <ul>A coder</ul>
    </div>
  </div>

  <!-- Informations sur les utilisateurs associés -->
  <% if @patient.users.any? %>
    <div>
      <h2>Informations des Utilisateurs Associés</h2>
      <% @patient.users.each do |user| %>
        <p>Email: <%= user.email %></p>
        <!-- Ajoutez ici d'autres informations de l'utilisateur que vous souhaitez afficher -->
      <% end %>
    </div>
  <% else %>
    <p>Pas d'utilisateurs liés.</p>
  <% end %>


<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= user.display_name %>
        <%= button_to 'Associer', associate_user_patient_path(user_id: user.id), method: :post, remote: true %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun utilisateur trouvé.</p>
<% end %>
  <%= render 'patient_form', patient: @patient %>

<%= link_to 'Ajouter prescription', new_ordonnance_path(patient_id: @patient.id), class: 'btn btn-primary' %>

<% @ordonnances.each do |ordonnance| %>
  <%= render 'patients/ordonnance_form', ordonnance: ordonnance %>
<% end %>


</div>
